# This should NOT include the protocol (http:// or https://) etc.
DOMAIN="YOUR DOMAIN HERE"

DB_USERNAME="postgres"
DB_PASSWORD="password"
DB_HOST="postgres"
DB_PORT="5433"

AUTH0_AUDIENCE=
AUTH0_TENANT=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_AI_STUDIO_API_KEY=

GITHUB_APP_NAME=
GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_WEBHOOK_SECRET=
GITHUB_APP_PRIVATE_KEY=

# These are optional
RELACE_API_KEY=
SENTRY_DSN=
POSTHOG_API_KEY=
HELICONE_API_KEY=
PINECONE_API_KEY=
