# Fill in all variables before running docker compose up!

# This should NOT include the protocol (http:// or https://) etc.
DOMAIN="YOUR DOMAIN HERE"

# Email for Let's Encrypt certificates
CERTBOT_EMAIL=
# Change this to 0 after you confirm SSL is working. Staging gives you higher
# rate limits for testing but the certs won't be valid.
STAGING=1
# Set this to 1 to disable Let's Encrypt and generate a self signed cert.
# Browsers will warn about insecure connections for self signed certs.
USE_LOCAL_CA=0

DB_USERNAME="postgres"
DB_PASSWORD="password"
DB_HOST="postgres"
DB_PORT="5432"

AUTH0_TENANT=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_M2M_CLIENT_ID=
AUTH0_M2M_CLIENT_SECRET=
AUTH0_M2M_AUDIENCE=

OPENAI_API_KEY=

GITHUB_APP_NAME=
GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_WEBHOOK_SECRET=
GITHUB_APP_PRIVATE_KEY=

# These are optional
ANTHROPIC_API_KEY=
GOOGLE_AI_STUDIO_API_KEY=
RELACE_API_KEY=
SENTRY_DSN=
POSTHOG_API_KEY=
HELICONE_API_KEY=
PINECONE_API_KEY=
